/*defaults*/
body{background:#e3b594 url('images/body_bg.jpg') repeat-x 0 0; color:#000000; margin:10px 0; padding:0; font-family:"Trebuchet MS", verdana, arial, "Times New Roman", serif; font-size:90%;}
p{margin:0; padding:0 0 15px 0;}
a{color:#000000; text-decoration:none;}
a:hover{color:#225799; text-decoration:none;}
/*structural elements*/
#container{margin:0px auto; text-align:center; width:760px;}
#holder{width:100%; padding:20px 20px 5px 20px; background:#FFFFFF; text-align:left;}
.logo{background:url('images/logo1.png') no-repeat 50px 0; border-bottom:1px solid #DADADA; padding:1px 30px 10px 0px;}
.logo .logoDerecha{float: right; margin-right: 0px; margin-top: -89px;}
#navigation{padding:10px 0;}
.header{background:#d3dfed; padding:3px; height:auto;}
.header .headerDerecha{float:right;margin-top:-27px;margin-right:100px;}
.header .headerPuntaje{float:right;margin-top:-26px;margin-right:184px;}
.header1{background:#efefef; padding:3px; height:auto;}
#content{float:left; width:760px; padding:0px 10px 0 0; line-height:160%;}
#news{float:right; width:250px; padding:20px 0; line-height:140%; text-align:justify;}
.newsItem{padding:20px 20px 5px 20px; background:#FEFFD5; border:1px solid #FFEB70; font-size:90%; margin-bottom:20px;}
#footer{clear:both; width:100%; font-size:80%; background:#DADADA; padding:20px; text-align:left; border-top:2px solid #2765AF;}
#copyright{float:right;}
/*headings*/
.newsItem h1{color:#225799; margin:0 0 10px 0; padding:0; font-size:130%; font-weight:normal;}
#content h1{font-size:170%; font-weight:normal; line-height:130%; margin:0; padding:0 0 20px 0;}
#logo h1{font-weight:normal; font-size:170%; margin:0; padding:0; color:#225799;}
/*navigation*/
#navigation ul{margin:0; padding:0;}
#navigation li{margin:0; padding:0; list-style:none; display:inline;}
#navigation a{color:#225799; padding:0 20px 0 0; text-decoration:none;}
#navigation a:hover{color:#000000;}
/*footer*/
#footer ul{margin:0; padding:0;}
#footer li{margin:0; padding:0; list-style:none; display:inline;}
#footer a{color:#000000; font-weight:bold; padding:0 5px 0 0; text-decoration:underline;}
#footer a:hover{color:#000000; text-decoration:none;}
.clearfix:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
.clearfix{display:inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height:1%;}
.clearfix{display:block;}
.TabContainer{font: bold 0.75em Verdana;width: 60em;margin-top: 1.5em;padding-top: 2em;}
.TabItemInactive{border-top: 1px solid white; border-left: 1px solid white; border-right: 1px solid #aaaaaa; border-bottom: none; background-color: #d3d3d3;text-align: center; text-decoration: none; padding: 0.75em 0.25em 0 0.25em;}
.TabItemInactive:hover{background: #808080;}
.TabItemActive{border-top: 1px solid white; border-left: none; border-right: 1px solid #aaaaaa; border-bottom: none; text-decoration: none; background-color: #bbbbbb;  text-align: center; padding: 0.75em 0.25em 0 0.25em;}
.ContentPanel{background-color: #bbbbbb; padding: 10px 10px 10px 10px; width: 60em;font: 0.8em Verdana;}
.puntaje{float:right;z-index:100; padding-top: -30px;}
.txtcortos{width:30px;text-align:justify; text-transform:uppercase}
.txtmed{width:80px;text-align:justify; text-transform:uppercase}
.txtmax{width:auto;text-align:justify; text-transform:uppercase}
.txtmax2{width:200px;text-align:justify; text-transform:uppercase}
.txtverde{color:Green;}
.txtnaranja{color:Orange;}
.txtrojo{color:Red;}
.txtder{text-align:right; padding-right:250px; text-transform:uppercase}
.triesgo{background:#2765AF; padding:2px;width: 100%; height:auto; color:White; text-align:center}
.tabla{width: 100%; text-align:center; border:0px solid #dadada;}
.label{width:auto; text-align:justify; border:1px solid #7f9db9; background-color: #efefef; padding: 1px 5px 1px 5px;} /*#d3dfed celeste; #7f9db9 azul*/
.contentBox{background: white; width:100%; height: 400px; overflow:auto;}
.btn{margin-bottom: -5px; border:none;}
.center{width:100%; padding: 3px; text-align:left;}
.medio{text-align:center;}
.sc{overflow: scroll; height:auto; width: 100%; vertical-align:middle;}
.neg{font-weight:bold;}
.hlp{float:right; margin-top:-20px;text-decoration:none;}
.nro{padding:10px; margin-right:5px; float:left; text-align:left; font-weight:bold; font-size:x-large; background-color:#efefef; color:#225799}
.msnRem{float:right;margin-top:-26px;margin-right:184px;}