/*defaults*/
body{background:#c2e1cf url('images/body_bgcla.jpg') repeat-x 0 0; color:#000000; margin:10px 0; padding:0; font-family:"Trebuchet MS", verdana, arial, "Times New Roman", serif; font-size:80%;}
p{margin:0; padding:0 0 15px 0;}
a{color:#000000; text-decoration:none;}
a:visited:hover{color:#225799; text-decoration:none;}
/*structural elements*/
#container{margin:0px auto; text-align:center; width:760px;}
#container2{margin:0px auto; text-align:center; width:900px;}
#holder{width:100%; padding:20px 20px 5px 20px; background:#FFFFFF; text-align:left;}
.logo{background:url('images/logo1.png') no-repeat 50px 0; border-bottom:1px solid #DADADA; padding:12px 30px 10px 0px;}
.logo .logoDerecha{float: right; margin-right: 0px; margin-top: -89px;}
#navigation{padding:0px 0px 44px;}
.header{background:#d3dfed; padding:3px; height:auto;width:60%;}
.header .headerDerecha{float:right;margin-top:-25px;margin-right:44px;}
.header .headerPuntaje{float:right;margin-top:-00px;margin-right:88px;}
.header .headerProfesional{float:right;margin-top:-00px;margin-right:30px;}
.header .headerFechas{float:right;margin-top:-26px;margin-left:80px;}
.header .headerFechaVer{float:right;margin-top:-0px;margin-left:80px;}
.header1{background:#efefef; padding:3px; height:auto; width:60%;text-align:left;}
#content{float:left; width:760px; padding:0px 10px 0 0; line-height:160%;}
#content2{float:left; width:900px; padding:0px 10px 0 0; line-height:160%;}
#news{float:right; width:250px; padding:20px 0; line-height:140%; text-align:justify;}
.newsItem{padding:20px 20px 5px 20px; background:#FEFFD5; border:1px solid #FFEB70; font-size:90%; margin-bottom:20px;}
#footer{clear:both; width:100%; font-size:80%; background:#DADADA; padding:20px; text-align:left; border-top:2px solid #2765AF;}
#copyright{float:right;}
/*headings*/
.newsItem h1{color:#225799; margin:0 0 10px 0; padding:0; font-size:130%; font-weight:normal;}
#content h1{font-size:170%; font-weight:normal; line-height:130%; margin:0; padding:0 0 20px 0;}
#logo h1{font-weight:normal; font-size:170%; margin:0; padding:0; color:#225799;}
/*navigation*/
#navigation ul{margin:0; padding:0;}
#navigation li{margin:0; padding:0; list-style:none; display:inline;}
#navigation a{color:#048a57; padding:0 20px 0 0; text-decoration:none;}
#navigation a:hover{color:#000000;}
/*verde oscuro: 048a57
cerde claro: c2e1cf */
/*footer*/
#footer ul{margin:0; padding:0;}
#footer li{margin:0; padding:0; list-style:none; display:inline;}
#footer a{color:#000000; font-weight:bold; padding:0 5px 0 0; text-decoration:underline;}
#footer a:hover{color:#000000; text-decoration:none;}
.clearfix:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
.clearfix{display:inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height:1%;}
.clearfix{display:block;}
.TabContainer{font: bold 0.75em Verdana;width: 60em;margin-top: 1.5em;padding-top: 2em;}
.TabItemInactive{border-top: 1px solid white; border-left: 1px solid white; border-right: 1px solid #aaaaaa; border-bottom: none; background-color: #d3d3d3;text-align: center; text-decoration: none; padding: 0.75em 0.25em 0 0.25em;}
.TabItemInactive:hover{background: #808080;}
.TabItemActive{border-top: 1px solid white; border-left: none; border-right: 1px solid #aaaaaa; border-bottom: none; text-decoration: none; background-color: #bbbbbb;  text-align: center; padding: 0.75em 0.25em 0 0.25em;}
.ContentPanel{background-color: #bbbbbb; padding: 10px 10px 10px 10px; width: 60em;font: 0.8em Verdana;}
.puntaje{float:right;z-index:100; padding-top: -30px;}
.txtcortos{width:50px;text-align:justify;}
.txtmed{width:80px;text-align:justify;}
.txtmax{width:auto;text-align:justify;}
.txtverde{color:#048a57;}
.txtverdemaster{color:#048a57;}
.txtnaranja{color:Orange;}
.txtrojo{color:Red;}
.txtder{text-align:right; padding-right:250px;}
.triesgo{background:#2765AF; padding:2px;width: 100%; height:auto; color:White; text-align:center}
.tabla{width: 100%; text-align:center; border:0px solid #dadada;}
.label{width:auto; text-align:justify; border:1px solid #7f9db9; background-color: White; padding: 1px 5px 1px 5px;} /*#d3dfed celeste; #7f9db9 azul*/
.contentBox{background: white; width:100%; height: 400px; overflow:auto;}
.contentAlerta{background: white; width:100%; height: 80px; overflow:auto;}
.contentLab{background: white; width:245px; height: 120px; overflow:auto;}
.btn{margin-bottom: -5px; border:none;}
.center{width:100%; padding: 3px; text-align:left;}
.medio{text-align:center;}
.derecha{text-align: right;margin-right: 20px; font-size:small;}
.sc{overflow: scroll; height:auto; width: 100%; vertical-align:middle;}
.neg{font-weight:bold;}
.hlp{float:right; margin-top:-46px;text-decoration:none;}
.nro{padding:10px; margin-right:5px; float:left; text-align:left; font-weight:bold; font-size:x-large; background-color:#efefef; color:#225799}
.msnRem{float:right;margin-top:-26px;margin-right:184px;}
.contentMed{display:block;width:100%;overflow:auto;height:300px}
.texto{background: #ECECEC; margin-top: 16px; margin-left: 1px; width:750px; height:300px;overflow: scroll; border: solid 1px #c2e1cf}
.borde{border:0px}


/** Estilos para los tabs **/
ul.tabs {   
    margin: 0;   
    padding: 0;   
    float: left;   
    list-style: none;   
    height: 22px;   
    border-bottom: 1px solid #999;   
    border-left: 1px solid #999;   
    width: 100%;   
}   
ul.tabs li {   
    float: left;   
    margin: 0;   
    padding: 0;   
    height:21px;   
    line-height: 21px;   
    border: 1px solid #999;   
    border-left: none;   
    margin-bottom: -1px;   
    overflow: hidden;   
    position: relative;   
    background: #DFE7F7;   
}   
ul.tabs li a {   
    text-decoration: none;   
    color: #000;   
   display: block;   
    font-size: 1em;   
    padding: 0 10px;   
    border: 1px solid #fff;   
    outline: none;   
}   
ul.tabs li a:hover {   
    background: #DFE7F7;   
}   
html ul.tabs li.active, html ul.tabs li.active a:hover  {   
    background: #fff;   
    border-bottom: 1px solid #fff;   
} 

.tab_container {   
    border: 1px solid #999;   
    border-top: none;   
    overflow: hidden;   
    clear: both;   
    float: left; width: 100%;   
    background: #fff;   
}   
.tab_content {   
    padding: 2px;   
}
/*****/

/* Greyscale
Table Design by Scott Boyle, Two Plus Four
www.twoplusfour.co.uk
----------------------------------------------- */

.mytable1
{
	border: 1px solid #BFBFBF;
	border-collapse: collapse;
	color: #555;
	background: #FDFDFD;
	font-size: 1em;
	border-spacing: 0px;
}

.mytable1 td
{
	border-style: none none groove none;
	border-width: 1px;
	border-color: #555 #555 #D6D6D6 #555;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	padding-left: .5em;
}

.mytable2
{
	border: 1px solid #BFBFBF;
	border-collapse: collapse;
	color: #555;
	background: #FDFDFD;
	font-size: 1em;
	border-spacing: 0px;
}

.mytable2 td
{
	border-style: none none groove none;
	border-width: 1px;
	border-color: #555 #555 #D6D6D6 #555;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	padding-left: .5em;
}
.mytable1 tr:hover
{
	background: #F4FAFF;
	color: #000000;
	border-bottom: 1px dotted #72724c;
}



.mytable2
{
	border: 1px solid #555;
	border-collapse: collapse;
	color: #555;
	background: #FDFDFD;
	font-size: 1em;
	border-spacing: 0px;
}

.mytable2 td
{
	border-style: none groove groove none;
	border-width: 1px;
	border-color: #555 #555 #555 #555;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	padding-left: .5em;
}

/* =links
----------------------------------------------- */
.tablad
{
	border:solid 1px lightgrey;
}